<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Web jaas test</display-name>

    <servlet>
        <servlet-name>log4jInit</servlet-name>
        <servlet-class>by.minsler.log.Log4jInit</servlet-class>
        <init-param>
            <param-name>log4j-init-file</param-name>
            <param-value>WEB-INF/classes/log4j.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>loginSerlvet</servlet-name>
        <servlet-class>by.minsler.by.minsler.contoller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginSerlvet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
</web-app>